<h3 class="section-title">Recent Preprints</h3>
<dl class="experience">
    {% for paper in site.data.preprints %}
        <dt>
        <div class="image-paper">
            <img src="img/{{paper.image}}"/>
        </div>
        </dt><!--
        --><dd>
            <p class="title">{{ paper.title }}</p>
            <p class-"authors">{{ paper.authors }}</p>
            <p class="conference">{{ paper.conference}}</p>
            <p class="period">{{ paper.period }}</p>
            <div class="social">
            {% if paper.arxiv %}<a href="{{ paper.arxiv }}" target="_blank">arXiv</a>{% endif %}
            {% if paper.webpage %}<a href="{{ paper.webpage }}" target="_blank">Webpage</a>{% endif %}
            {% if paper.code %}<a href="{{ paper.code }}" target="_blank">Code</a>{% endif %}
            </div>
            <p class="abstract">{{ paper.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">All Papers</h3>
<dl class="experience">
    {% for paper in site.data.papers %}
        <dt>
        <div class="image-paper">
            <img src="img/{{paper.image}}"/>
        </div>
        </dt><!--
        --><dd>
            <p class="title">{{ paper.title }}</p>
            <p class-"authors">{{ paper.authors }}</p>
            <p class="conference">{{ paper.conference}}</p>
            <p class="period">{{ paper.period }}</p>
            <div class="social">
            {% if paper.arxiv %}<a href="{{ paper.arxiv }}" target="_blank">arXiv</a>{% endif %}
            {% if paper.webpage %}<a href="{{ paper.webpage }}" target="_blank">Webpage</a>{% endif %}
            {% if paper.code %}<a href="{{ paper.code }}" target="_blank">Code</a>{% endif %}
            </div>
            <p class="abstract">{{ paper.description }}</p>
        </dd>
    {% endfor %}
</dl>
