// @name Header
// @description All header styles

header {
    border-bottom: 1px solid #edefee;
    padding: ($spacer * 2) 0;
    margin-bottom: ($spacer * 2);

    @media(min-width: 640px) {
        padding: ($spacer * 10) 0 ($spacer * 3);
        margin-bottom: ($spacer * 3);
    }
}

dl {
    margin-bottom: $spacer;
    margin:0 auto ;
}

dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: $spacer;
}

@media(min-width: 640px) {
    dt, dd {
        margin-bottom: 60px;
    }

    .picture {
        dt {
            width: 70%;
            padding-right: ($spacer * 2);
            padding-top: 10px;
        }
        dd {
            width: 30%;
        }
    }
}

.image-cropper {
    width: 350px;
    height: 350px;
    position: relative;
    left: 40%;
    top: 50%;
    overflow: hidden;
    border-radius: 50%;
}

img {
    height: 100%;
    width: auto;
}

.intro {
    margin-bottom: ($spacer * 2);

    &__location{
        text-transform: uppercase;
        letter-spacing: 4px;
    }

    &__text{
        padding-top: $spacer;
        text-align: justify;
        text-justify: inter-word;
    }

    &__job {
        font-size: 1.4rem;
        line-height: 1.2;

        @media(min-width: 640px) {
            font-size: 2.0rem;
            max-width: 60%;
        }
    }

    &__main {
        font-size: 1.8rem;
        line-height: 1.2;
        font-weight: bold;
        margin: 10px 0 5px;

        @media(min-width: 640px) {
            font-size: 2.2rem;
            max-width: 60%;
        }
    }
    a {
    color: #1772d0!important;
    text-decoration: none;
    background: #ffffff;
    transition: all linear .2s;

        &:hover {
        color: #d7ab0f!important;
        background: #ffffff;
        text-decoration: none;
    }
    }
}

.social {
    a {
        margin-right: $spacer;
    }
}
