// @name Resume
// @description All resume styles

dl {
    margin-bottom: $spacer;
}

dt, dd {
    margin-bottom: $spacer;
}

@media(min-width: 640px) {
    dt, dd {
        margin-bottom: 60px;
    }

    .experience {
        dt {
            width: 30%;
            padding-right: ($spacer * 2);
            padding-top: 10px;
        }
        dd {
            width: 70%;
        }
    }

    .education {
        dt, dd {
            width: 50%;
        }
    }
}

.image-paper {
    width: 175px;
    height: auto;
    position: left;
    left: 0%;
    top: 50%;
    overflow: visible;
    text-align: left;
}

img {
    height: 175px;
    width: auto;
    text-align: left;
    position: left;
}

.title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}

.authors{
    display: inline;
}

.me_author{
    font-weight: bold;
    display: inline;
}

.abstract{
        padding-top: $spacer;
        text-align: justify;
        text-justify: inter-word;
    }
.conference {
    font-style: italic;
}

a {
    color: black!important;
    background: rgba(245, 215, 110, .5);
    transition: all linear .2s;

    &:hover {
        background: rgba(245, 215, 110, 1);
        text-decoration: none;
    }
}
